<section>

<div class="details">
<h2>Dettagli Utente</h2>


@if (user) {
  <div class="user-info">
    <p><span>Nome:</span> {{ user.name }}</p>
    <p><span>Email:</span> {{ user.email }}</p>
    <p><span>Genere:</span> {{ user.gender }}</p>
    <p><span>Status:</span> {{ user.status }}</p>
  </div>
}
</div>

<div class="posts">
<h3>Post dell'utente</h3>

@if (posts.length > 0) {
    @for (post of posts; track post.id) {
    <app-card [cardTitle]="post.title" [cardBody]="post.body" [cardUserId]="post.user_id">

      <mat-card-actions class="card-action">
        <!-- Bottone mostra/nascondi commenti -->
  <app-button (buttonClick)="toggleComments(post.id)" ariaLabel="Visualizza i commenti" customClass="toggle-view-comment"><mat-icon>mode_comment</mat-icon>{{ showComments[post.id] ? '' : '' }}</app-button>


      <div class="form-comment">
  <app-button (buttonClick)="toggleForm((post.id))" ariaLabel="Aggiungi un nuovo commento" customClass="toggle-add-comment"><mat-icon> add_comment</mat-icon>{{ showFormPost ? '' : '' }}</app-button>

@if (showFormPost[post.id]) {
<app-form
  [fields]="commentsFields"
  (formSubmit)="onSubmit(post.id, $event)" class="users-form">
</app-form>
}
</div>
   </mat-card-actions>

        <!-- Se showComments è true, mostra commenti -->
        @if (showComments[post.id]) {
          @if (comments[post.id].length > 0) {
            <ul class="comment-list">
              @for (comment of comments[post.id]; track comment.id) {
                <li>
                  <p class="comment-title"><span>{{ comment.name }}</span><mat-icon>person_outline</mat-icon></p>
                  <p class="comment-body">{{ comment.body }}</p>
                </li>
              }
            </ul>
            } @else {
            <app-empty-state [typeText]="messageText"></app-empty-state>
        }
      }
         </app-card>
      }
  } @else {
      <app-empty-state [typeText]="typeText"></app-empty-state>
}

</div>
</section>