
.card {
    width: 500px;
    max-width: 500px;
    height: auto;
    padding: 20px;
    border-radius: 30px;
    text-align: start;
}

.title {
font-size: 1.3rem;
}

.body{
font-size: 1rem;
font-weight: 300;
text-align: start;
}

.user_id span{
margin-right: 3px;
}

.card-header-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.card-header {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 20px;
}

@media screen and (max-width:768px) {
 
    
.card {
    width: 90%;
    max-width: unset;
    margin: 0 auto;
    height: auto;
    padding: 8px;
}

.title {
font-size: 1.1rem;
}

.body{
font-size: 0.8rem;
}

.user_id {
font-size: 0.8rem;
}

}