.search-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  min-width: 150px;
  max-width: fit-content;
  width: 100%;
  border-radius: 20px;
  padding: 5px;
  border: 2px solid rgb(164, 164, 164);
}

.search-input input {
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: transparent;
}

.search-input button {
  border: transparent;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}


@media screen and (max-width:768px) {
  .search-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 10px;
  min-width: 80%;
  max-width: fit-content;
  margin: 0 auto;
  border-radius: 20px;
  padding: 5px;
  border: 2px solid rgb(164, 164, 164);
}
}