<div class="hero-section">
  <app-header></app-header>

  <div class="text-content">
    <h1>Costruiamo insieme la città di domani</h1>
    <p>Condividi idee, progetti e segnalazioni per proteggere e salvaguardare
        il patrimonio culturale e naturale della città
        e supportare i legami positivi, sociali e ambientali, tra aree urbane.</p>
  </div>

  <div class="button-group">
    <button matButton="filled" class="filled" (click)="onLogin()">Login</button>
    <button matButton="outlined" class="outlined" (click)="onCreateToken()">Genera token</button>
  </div>
</div>
