<div class="hero-section">
  <app-header></app-header>

  <div class="text-content">
    <h1>Costruiamo insieme la città di domani</h1>
    <p>Condividi idee, progetti e segnalazioni per proteggere e salvaguardare
        il patrimonio culturale e naturale della città
        e supportare i legami positivi, sociali e ambientali, tra aree urbane.</p>
  </div>

  <div class="button-group">
<app-button type="button" label="Login" (buttonClick)="onLogin()" color="primary" matStyle="filled" customClass="filled"></app-button>
<app-button type="button" label="Genera token" (buttonClick)="onCreateToken()" color="primary" matStyle="outlined" customClass="outlined"></app-button>
  </div>
</div>
