
.panel {
width: 300px;
}

.panel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}

.panel-title {
    margin-left: 20px;
}

.icon {
    margin-left: 20px;
}

.expansion-menu {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(224, 243, 249);
  height: 200px;
  text-align: left;
  justify-content: space-evenly;
}

.user-info {
  font-size: 0.9rem;
  width: 80%;
  margin: 0 auto;
}

.user-info p {
word-break: break-all;
}

.user-info span{
  font-weight: 500;
}

.user-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.button {
  font-size: 0.8rem;
}



@media screen and (max-width:768px) {
  
.panel {
  min-width: 90%;
  margin: 0 auto;
}

.panel-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}

.expansion-menu {
margin-top: 20px;
}

.user-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  gap: 20px;
}

.button {
  font-size: 0.8rem;
}
}