
<mat-expansion-panel class="panel">
  <mat-expansion-panel-header class="panel-header">
    <mat-panel-title class="panel-title">
      {{ user.name }}
      <mat-icon class="icon">account_circle</mat-icon>
    </mat-panel-title>
</mat-expansion-panel-header>

<div class="expansion-menu">

  <div class="user-info">
      <p><span>Email:</span> {{ user.email }}</p>
      <p><span>Status:</span> {{ user.status }}</p>    
   </div>

  <div class="user-actions">
    <app-button type="button" matStyle="filled" label="Dettagli" [routerLink]="['/users', user.id]" customClass="button-detail"></app-button>
    <app-button type="button" matStyle="filled" label="Elimina" (buttonClick)="delete.emit(user.id)" customClass="button-delete"></app-button>
  </div>
</div>
</mat-expansion-panel>