

<!-- a se c'è routerLink -->

@if (routerLink){
<a 
   [routerLink]="routerLink"
   [attr.aria-label]="ariaLabel"
   [attr.aria-hidden]="iconAriaHidden"
   [ngClass]="['app-btn', customClass]"
   [matButton]="matStyle">
     @if (label) {  
        {{ label }}          <!--se c'è label mostra quella, sennò ng-content-->
     } @else {
       <ng-content></ng-content>
     }
  </a>

} @else { 

<!-- button -->
<button 
        [matButton]="matStyle"
        [attr.type]="type"
        [disabled]="disabled"
        [ngClass]="['app-btn', customClass]"
        [attr.aria-label]="ariaLabel"
        [attr.aria-hidden]="iconAriaHidden"
        (click)="onClick()">

            @if (label) {
       <span>{{ label }}</span>
    } @else {
      <ng-content></ng-content>
    }
    
  </button>
}