  <app-header></app-header>
<section class="users-section">

  <div class="users-header">

  <app-search-bar [placeholder]="'Cerca nome o email'" [(term)]="searchTerm" (termChange)="onSearchUser()"></app-search-bar>

<div class="users-button">
<app-button type="button" (buttonClick)="toggleForm()" [iconAriaHidden]="false" ariaLabel="Aggiungi nuovo utente" customClass="add-user-button"><mat-icon>person_add</mat-icon></app-button>


<app-button type="button" label="Vai ai post" routerLink="/posts" [iconAriaHidden]="false" customClass="posts-list-button"></app-button>
</div>

<p>Tot. users: {{this.totalUsers}}</p>

</div>

@if (showFormUser) {
<app-form
  [fields]="userFields"
  (formSubmit)="onSubmit($event)" class="users-form">
</app-form>
}



<div class="users-list">
@if (displayedUsers && displayedUsers.length > 0) {
    @for (user of displayedUsers; track user.id) {
  <app-user [user]="user"  (delete)="onDeleteUser($event)"></app-user>
    }
} @else {
  <app-empty-state [typeText]="typeText"></app-empty-state>
}
</div>

</section>