
<div class="posts-header">
<app-search-bar [placeholder]="'Cerca titolo o testo'" [(term)]="searchTerm" (termChange)="onSearchPost()"></app-search-bar>

    <app-button type="button" (buttonClick)="toggleForm()" ariaLabel="Aggiungi un nuovo post" customClass="toggle-add-post"><mat-icon>add_box</mat-icon>{{ showForm ? '' : '' }}</app-button>

        <p>Tot. posts: {{this.totalPosts}}</p>



@if (showForm) {
<app-form
  [fields]="postFields"
  (formSubmit)="onSubmitPost($event)" 
  class="users-form">
</app-form>
}
</div>


<div class="posts-list">

@if (displayedPosts && displayedPosts.length > 0) {
@for (post of displayedPosts; track post.id) {
 
     <app-card [cardTitle]="post.title" [cardBody]="post.body" [cardUserId]="post.user_id"> 

    <mat-card-actions>

      <div class="post-button">
           <!-- Bottone mostra/nascondi commenti -->
        <app-button type="button" (buttonClick)="toggleComments(post.id)" ariaLabel="Mostra commenti" customClass="toggle-view-comment"><mat-icon>mode_comment</mat-icon>{{ showComments[post.id] ? '' : '' }}</app-button>
    
        <div class="form-comment">

    <app-button type="button" (buttonClick)="toggleFormComment(post.id)"  ariaLabel="Aggiungi un nuovo commento" customClass="toggle-add-comment"><mat-icon> add_comment</mat-icon>{{ showFormComment[post.id] ? '' : '' }}</app-button>
</div>

@if (showFormComment[post.id]) {
  <app-form
    [fields]="commentsFields"
    [resetOnSubmit]="true"
    (formSubmit)="onSubmitComment(post.id, $event)" 
    class="users-form">
  </app-form>
}
</div>
    </mat-card-actions>


  @if (showComments[post.id]) {
          @if (comments[post.id].length > 0) {
            <ul class="comment-list">
              @for (comment of comments[post.id]; track comment.id) {
                <li>
                  <p class="comment-title"><span>{{ comment.name }}</span><mat-icon>person_outline</mat-icon></p>
                  <p class="comment-body">{{ comment.body }}</p>
                </li>
              }
            </ul>
            } @else {
            <app-empty-state [typeText]="messageText"></app-empty-state>
        }
      }
    </app-card>

}
  } @else {
      <app-empty-state [typeText]="typeText"></app-empty-state>
}
</div>