form {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 30px;
    row-gap: 20px;
}



@media screen and (max-width:425px) {

    form {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }
}


@media screen and (min-width:426px) and (max-width:900px) {

form {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 30px;
    row-gap: 20px;
    width: 80%;
    margin: 0 auto;
}

}
