

 <form [formGroup]="form" (ngSubmit)="onSubmit()">
    @for (field of fields; track $index){  <!--array index è la tracking key-->
      <ng-container>
        <mat-form-field>

          <mat-label>{{ field.label }}</mat-label>
          @if  (field.type !== 'select') {
          <input matInput [type]="field.type" [formControlName]="field.name">
      }@else{
                <mat-select [formControlName]="field.name">
                   @for (option of field.options; track $index){
          <mat-option [value]="option" >
            {{ option }}
          </mat-option>
        }
        </mat-select>
      }

      </mat-form-field>  
    </ng-container>
    }

<app-button type="submit" [disabled]="!form.valid" matStyle="filled" [iconAriaHidden]="false" customClass="form-button" class="app-btn" label="Aggiungi" ariaLabel="Aggiungi nuovo elemento creato"></app-button>
    </form>